*{
    font-family: arial;
}


h1{
    text-align: center;
}


.container{        
    width: 500px;       
    top: 0;
    bottom: 200px;
    left: 0;
    right: 0;
    margin: auto auto;
    color: #fff;
    border: 5px solid #000;
    background-color: #666;
    text-align: center;
    padding: 10px;
    font-size: 18px;    
}



.listStyle{
    cursor: pointer;
}

